{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>TrackPay</title>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <!-- Corregido para usar la ruta estática de la imagen -->
            <a href="#" class="logo"><img src="{% static 'img/logoNombre.png' %}" alt="TrackPay Logo"></a>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Funcionamiento</a></li>
                    <li><a href="#">Acerca</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <div class="login">
                <ul>
                    <li><a href="{% url 'login' %}" class="btn-ent">Entrar</a></li>
                    <li><a href="#" class="btn-comen">Comenzar Ahora</a></li>
                </ul>
            </div>
        </div>
        
    </header>
    
</body>
</html>
