@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Bebas Neue", "Arial", sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #424242;
    margin-bottom: 35px;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --- Estilos del Header --- */
.header {
    background: linear-gradient(180deg, rgb(60, 116, 172) 0%, rgba(84, 131, 179, 0.5) 51%, rgba(84, 131, 179, 0) 100%);
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 20px 0;
}

.header-content {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
    padding-right: 100px;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-img img {
    width: 500px;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 250px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li {
    list-style: none;
}

.menu .navbar ul {
    display: flex;
    gap: 20px;
}
.menu .navbar ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 10px 15px;
    transition: color 0.3s ease;
}